@import 'var';
@import 'mixin';
@import 'settings';

//HELPERS CLASSES
.container-h {
  margin: 0 auto;
  padding: 50px 30px;
  max-width: 1140px;
  overflow: hidden;

  @include rwd(1360px) {
    overflow: visible;
  }
}

.main-title-h {
  margin-bottom: 30px;
  font-family: 'Hind';
  font-size: 2.2rem;
}

.second-title-h {
  margin-bottom: 50px;
  color: $secondary-color;
}

.custom-input-h {
  margin: 5px;
  padding: 15px;
  width: 100%;
  color: $secondary-color;
  border: none;
  border-radius: 5px;
  background-color: $white-color;

  &::-webkit-input-placeholder {
    color: $secondary-color;
  }

  @include rwd(medium) {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

//PAGE
.offer-b {
  display: grid;
  grid-row-gap: 40px;
  justify-content: center;

  &__simple {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    font-family: 'Hind';
    color: $primary-color;
    text-decoration: none;

    @include rwd(medium) {
      grid-template-columns: 1fr 81px;
    }

    @include rwd(tablet) {
      position: absolute;
      top: 200px;
      left: 0;
      width: 325px;
      grid-template-columns: 1fr;

      &:nth-child(1) {
        top: -76px;
        left: 136px;

        .offer-b__img-container {
          margin-top: 10px;
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }

      &:nth-child(2) {
        top: 3px;
        left: 415px;

        .offer-b__img-container {
          margin-right: 19px;
          grid-column: 1/2;
        }

        .offer-b__content-container {
          grid-column: 2/3;
        }
      }

      &:nth-child(3) {
        top: 115px;
        left: 518px;

        .offer-b__img-container {
          margin-right: 19px;
          grid-column: 1/2;
        }

        .offer-b__content-container {
          grid-column: 2/3;
        }
      }

      &:nth-child(4) {
        top: 256px;
        left: 555px;
        grid-template-columns: 81px 1fr;
        text-align: left;
        justify-items: start;

        .offer-b__img-container {
          grid-column: 1/2;
        }

        .offer-b__content-container {
          margin-left: 19px;
          grid-column: 2/3;
        }
      }

      &:nth-child(5) {
        top: 395px;
        left: 518px;

        .offer-b__img-container {
          margin-right: 19px;
          grid-column: 1/2;
        }

        .offer-b__content-container {
          grid-column: 2/3;
        }
      }

      &:nth-child(6) {
        top: 510px;
        left: 415px;

        .offer-b__img-container {
          margin-right: 19px;
          grid-column: 1/2;
        }

        .offer-b__content-container {
          grid-column: 2/3;
        }
      }

      &:nth-child(7) {
        top: 552px;
        left: 136px;

        .offer-b__img-container {
          margin-bottom: 10px;
          grid-column: 1/2;
          grid-row: 1/2;
        }

        .offer-b__content-container {
          grid-row: 2/3;
        }
      }

      &:nth-child(8) {
        top: 510px;
        left: -146px;

        .offer-b__img-container {
          margin-left: 19px;
          grid-column: 2/3;
        }

        .offer-b__content-container {
          grid-column: 1/2;
        }

        @include rwd(1360px) {
          left: -208px;
        }
      }

      &:nth-child(9) {
        top: 397px;
        left: -248px;

        .offer-b__img-container {
          margin-left: 19px;
          grid-column: 2/3;
        }

        .offer-b__content-container {
          grid-column: 1/2;
        }
      }

      &:nth-child(10) {
        top: 256px;
        left: -284px;

        .offer-b__img-container {
          margin-left: 19px;
          grid-column: 2/3;
        }

        .offer-b__content-container {
          grid-column: 1/2;
        }
      }

      &:nth-child(11) {
        top: 115px;
        left: -252px;

        .offer-b__img-container {
          margin-left: 19px;
          grid-column: 2/3;
        }

        .offer-b__content-container {
          grid-column: 1/2;
        }
      }

      &:nth-child(12) {
        top: 3px;
        left: -143px;

        .offer-b__img-container {
          margin-left: 19px;
          grid-column: 2/3;
        }

        .offer-b__content-container {
          grid-column: 1/2;
        }
      }

      &:nth-child(-n+6) {
        text-align: left;

        .offer-b__content-container {
          padding-right: 80px;

          @include rwd(large) {
            padding-right: 0;
          }
        }
      }

      &:nth-child(n+8) {
        justify-items: right;
        text-align: right;

        .offer-b__content-container {
          padding-left: 80px;

          @include rwd(large) {
            padding-left: 0;
          }
        }
      }

      &:nth-child(1) {
        .offer-b__content-container {
          padding: 0;
        }
      }
    }

    @include rwd(1360px) {
      white-space: nowrap;
    }
  }

  &__img-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 81px;
    height: 81px;
    border: 3px solid $grey-color;
    border-radius: 50%;
    background-color: $grey-light-color;

    @include rwd(medium) {
      margin-bottom: 0;
      grid-column: 2/3;
    }
  }

  &__content-container {
    @include rwd(medium) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__main-content {
    display: none;
    color: $white-color;
    font-size: 0.9rem;
    font-weight: 700;

    @include rwd(tablet) {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
  }

  @include rwd(medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  @include rwd(tablet) {
    margin: 140px auto;
    padding: 63px;
    position: relative;
    width: 469px;
    height: 469px;
    border: 3px solid $grey-color;
    border-radius: 50%;
    background-image: url('../img/offer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
  }
}

.contact-b {
  background-color: $secondary-bg-color;
  background-image: url('../img/secondary-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  .main-title-h,
  .second-title-h {
    color: $white-color;
  }
}

.contact-form-b {
  margin: 0 auto;
  max-width: 800px;
  color: $white-color;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--user-accept-terms-container {
      margin: 30px 0 38px;
      justify-content: center;
    }

    @include rwd(medium) {
      flex-direction: row;
    }
  }

  &__user-message {
    margin-left: 0;
    margin-right: 0;
  }

  &__user-accept-terms-label {
    margin-left: 5px;
    font-size: 0.9rem;
  }

  &__featured-content {
    color: $differentiator-color;
    text-decoration: none;
  }

  &__user-send-form-btn {
    padding: 15px 35px;
    font-size: 0.9rem;
    color: $white-color;
    background-color: $differentiator-color;
    border: none;
    border-radius: 5px;
  }
}